transformers==4.44.2
accelerate==1.0.1
datasets==2.18.0
modelscope==1.20.1
pandas==2.2.2
peft==0.12.0
vocos==0.1.0
swanlab==0.4.5
numpy==1.26.4
vector-quantize-pytorch==1.21.2
sentencepiece==0.2.0
timm==1.0.7
soundfile==0.12.1
decord
moviepy
torch
torchvision
librosa